/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

nav {
    height:100px;
}

#logo-container {
    padding:1.5rem;
    transition: padding,width .5s;
    z-index: 4;
    width:100vw;
}
#logo-container img {
    height:114px;
    transition: height .5s;
}
#logo-container.pinned{
    padding:.5rem;
    width:46px;
}
#logo-container.pinned img {
    height:36px;
}
.v-spacer{
    min-height: 10rem;
    clear:both;
}
p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 30vw;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

.parallax img {
    opacity: .6;
}

.icon-block a {
    color: inherit;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}
