<div>
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h1 class="header text-lighten-5">Rerum Inbox</h1>
                    <br>
                    <h5 class="header col s12 light">
                        Important announcements about world-wide resources
                    </h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="images/C13433.jpg" alt=""></div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <a class="smooth" href="#content">
                            <h2 class="center text-lighten-5"><i class="material-icons">person_pin</i></h2>
                            <h5 class="center">Interesting Scholarly Content</h5>

                            <p class="light">
                                Discover how the manuscript, artifact, article, or collection
                                you are investigating has been used, amended, and annotated
                                by others.
                            </p>
                        </a>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <a class="smooth" href="#community">
                            <h2 class="center text-lighten-5"><i class="material-icons">question_answer</i></h2>
                            <h5 class="center">Community-Driven Specifications</h5>

                            <p class="light">Participate in creating technical requirements
                                which exist only to fulfill the needs of real research and
                                explore the scope of the current version.</p>
                        </a>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <a class="smooth" href="#development">
                            <h2 class="center text-lighten-5"><i class="material-icons">settings</i></h2>
                            <h5 class="center">Focus on Easy Development</h5>

                            <p class="light">Read and contribute to documentation that aims
                                for dead-simple implementation for broad use and polite extension
                                when necessary.</p>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper" id="content">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">
                        Significant amendments, annotations,
                        and uses of digital resources made available
                        everywhere.
                    </h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="images/R-20111108-0001.jpg" alt="background"></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h4>Interesting Scholarly Content</h4>
                    <p class="left-align light">
                        The <strong>Rerum Inbox</strong> is a place for anyone to
                        post and read announcements about any digital resource
                        published on the Internet. A strong supporter of the
                        <a href="https://iiif.io" title="International Image Interoperability Framework">IIIF</a>
                        standard, it is the <code>sc:Manifest</code> objects for
                        which this has been created. The millions of images made
                        available by libraries, museums, universities, and others
                        throughout the world are now enriched by the linked knowledge
                        of a planet full of scholars and researchers. Only the most
                        relevant and intentional notes are intended for this
                        announcement inbox, so the information is more immediately
                        useful than aggregations that simply crawl the graph of
                        Linked Data looking for relationships without discrimination.
                    </p>
                    <a class="waves-effect waves-light btn-large accent-3 orange" href="#!/announcements">
                        <i class="material-icons right">note</i>
                        Explore the Announcements
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper" id="community">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">
                        Interesting Scholarly Content
                    </h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="images/A34283.jpg" alt="background"></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="material-icons">person_tip</i></h3>
                    <h4>Contact Us</h4>
                    <p class="left-align light">
                        potate
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="parallax-container valign-wrapper" id="development">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="images/E11370.jpg" alt="Unsplashed background img 3"></div>
    </div>
    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">

                    <h4>Contact Us</h4>
                    <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                </div>
            </div>
        </div>
    </div>
</div>
