<div class="flow-text">
    <div id="index-banner" class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h1 class="header text-lighten-5">Rerum Inbox</h1>
                    <br>
                    <h4 class="header col s12 light">
                        Important announcements about world-wide resources
                    </h4>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="images/C13433.jpg" alt=""></div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m6">
                    <div class="icon-block">
                        <a class="smooth" href="#content">
                            <h1 class="center text-lighten-5"><i class="material-icons">question_answer</i></h1>
                            <h4 class="center">Interesting Scholarly Content</h4>

                            <p class="light">
                                Discover how the manuscript, artifact, article, or collection
                                you are investigating has been used, amended, and annotated
                                by others.
                            </p>
                        </a>
                    </div>
                </div>

                <div class="col s12 m6">
                    <div class="icon-block">
                        <a class="smooth" href="#specs">
                            <h1 class="center text-lighten-5"><i class="material-icons">settings</i></h1>
                            <h4 class="center">Community-Driven Specifications</h4>

                            <p class="light">Experience dead-simple implementation
                                for broad use. Participate in creating technical requirements
                                which fulfill the needs of real research.
                            </p>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper" id="content">
        <p class="container">
            Significant supplements to digital resources 
            available everywhere
        </p>
        <div class="parallax"><img src="images/E11370.jpg" alt="background"></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h4>Interesting Scholarly Content</h4>
                    <p class="left-align light">
                        The <strong>Rerum Inbox</strong> is a place for anyone to
                        post and read announcements about any digital resource
                        published on the Internet. A strong supporter of the
                        <a href="https://iiif.io" title="International Image Interoperability Framework">IIIF</a>
                        standard, it is the <code>sc:Manifest</code> objects for
                        which this has been created. The millions of images made
                        available by libraries, museums, universities, and others
                        throughout the world are now enriched by the linked knowledge
                        of a planet full of scholars and researchers. Only the most
                        relevant and intentional notes are intended for this
                        announcement inbox, so the information is more immediately
                        useful than aggregations that simply crawl the graph of
                        Linked Data looking for relationships without discrimination.
                    </p>
                    <a class="waves-effect waves-light btn-large accent-3 orange" href="#!/announcements">
                        <i class="material-icons right">note</i>
                        Explore the Announcements
                    </a>
                    <a class="waves-effect waves-light btn-large accent-3 orange" href="#!/postit">
                        <i class="material-icons right">announcement</i>
                        Create a New Announcement
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper" id="specs">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">
                        Clear conventions built on
                        common standards
                    </h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="images/A34283.jpg" alt="background"></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h4>Community-Driven Specifications</h4>
                    <p class="left-align light">
                        Fulfilling the promise of Linked Data requires both the
                        robotic and shared language of RDF and the human conventions
                        within each field that help discern relevance. The standard of
                        <a href="https://www.w3.org/TR/ldn/" target="_blank">Linked Data Notifications</a>,
                        when applied to the distributed resources used in Digital Humanities
                        research, makes possible and then highlights the connections
                        between the exhibit of the digital surrogates and the community
                        of scholarly assertions and descriptions that exist elsewhere on the graph.
                    </p>
                    <a class="waves-effect waves-light btn-large accent-3 orange" href="#!/specifications">
                        Get the Details
                        <i class="material-icons right">code</i>
                    </a>

                </div>
            </div>

        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                </div>
            </div>
        </div>
        <div class="parallax"><img src="images/R-20111108-0001.jpg" alt="background"></div>
    </div>
    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h4>RERUM
                        <img src="images/logo.png" alt="RERUM Logo" style="height:1em;">
                    </h4>
                    <h6>reconditorium eximium rerum universalium mutabiliumque</h6>
                    <p class="left-align light"><small>
                            The <strong>Rerum Inbox</strong> is a service of the
                            <a href='https://github.com/CenterForDigitalHumanities'>Walter
                                J. Ong, <small>S.J.</small> Center for Digital Humanities</a>
                            under the umbrella of <a href='http://rerum.io'>rerum.io</a>. As we develop
                            more tools and services associated with RERUM, it remains our goal
                            to advance standards through automatic compliance, to reduce the obstacles
                            preventing large institutions from sharing and small institutions from
                            contributing, and to model increasingly effective and durable ways
                            for scholars and researchers to regenerate and synthesize knowledge
                            through conversation around existing resources.
                        </small>
                    </p>
                    <p class="left-align light"><small>
                            <abbr title="Walter J. Ong, S.J. Center for Digital Humanities">OngCDH</abbr>
                            works in the open in several places, but is most frequently seen
                            on <a href="https://github.com/CenterForDigitalHumanities/">Github</a>. We
                            thrive on collaborations, big and small, and would love to hear about your
                            project or whim, even if you have no funding available.
                        </small>
                    </p>
                    <address itemscope itemtype="http://schema.org/ContactPoint">
                        <p class="light">
                            Walter J. Ong, <small>S.J.</small> Center for Digital Humanities<br>
                            <a href='mailto:digitalhumanities@slu.edu'>Email <i class='material-icons'>mail</i></a><br>
                            <span itemscope itemtype="schema.org/PostalAddress">
                                <span itemprop="streetAddress">One North Grand Blvd.</span><br>
                                <span itemprop="addressLocality">Saint Louis</span>, <abbr title="Missouri" itemprop="addressRegion">MO</abbr>
                                <span itemprop="postalCode">63108</span><br>
                                <span itemprop="addressCountry">USA</span>
                            </span>
                        </p>
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>
