<div class="section">
    <div class="container flow-text">
        <p>
            Select a section below to view the details.
        </p>
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header blue-grey-text">
                    <i class="material-icons">settings</i>Sample Specification</div>
                <div class="collapsible-body">
                    <span>The document below shows inbox.rerum.io as the exemplar LDN Inbox, but the specification is consistent
                        for any inbox service published with a manifest.</span>
                    <iframe style="width:100%;height:600px;" src="https://centerfordigitalhumanities.github.io/inbox-docs/docs/"></iframe>
                    <div markdown="1" id="specs">
                        <script>
                            //    const specs = document.querySelector('link[rel="import"]').import
                            //    document.getElementById("specs").innerText = specs.getElementsByTagName("body")[0].innerText
                        </script>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header blue-grey-text">
                    <i class="material-icons">place</i>History and Current State</div>
                <div class="collapsible-body">
                    <h3>A Brief History</h3>
                    <p>
                        The
                        <strong>Rerum Inbox</strong> is the fruit of a collaboration that began in 2016 to share related IIIF data
                        between institutions. With a generous grant from the IIIF Consortium,
                        <a href="http://jeffreycwitt.com/">Jeffrey Witt</a> (Loyola University Maryland) and
                        <a href="https://github.com/schwemmer">Rafael Schwemmer</a>
                        (
                        <a href="http://www.textandbytes.com/">text & bytes</a>) presented a proof of concept at the 2016 IIIF Conferences in New York using a web
                        standard called
                        <a href="http://lombardpress.org/2016/04/16/iiif-webmentions/">WebMentions</a>. At the
                        <a href='http://iiif.io/event/2017/vatican/'>Vatican 2017 IIIF Conference</a>
                        Jeffrey Witt and
                        <a href="https://twitter.com/chipgoines">Chip Goines</a> produced a second round of demonstrations, this time using an emerging standard called
                        <a href="https://www.w3.org/TR/ldn/">Linked Data Notifications</a>. Following the presentation, new implementations were initiated with
                        <a href='https://github.com/regisrob'>Régis Robineau</a> of
                        <a href='http://www.biblissima-condorcet.fr/'>Biblissima</a>.
                    </p>
                    <p>
                        The growing list of implementations and uses cases exposed the need for a well-described specification and a general use
                        inbox which did not require the hosting institutions to maintain their own. In August of 2017,
                        <a href='https://github.com/cubap'>Patrick Cuba</a>
                        (Lead Developer,
                        <a href='https://github.com/CenterForDigitalHumanities'>Walter J. Ong,
                            <small>S.J.</small> Center for Digital Humanities</a>), Jeffrey Witt, and Régis Robineau sat down to
                        draft this specification. While Jeffrey Witt and Régis Robineau began the development of a
                        <a href="https://github.com/jeffreycwitt/mirador-ldn-plugin">Mirador Plugin</a>
                        that uses the established specification, Patrick Cuba created an exemplar inbox for a general use to which the plugin was
                        linked.
                        <a href='http://rerum.io'>RERUM</a>
                        offered a home for this that extended the mission of creating and sharing open and public knowledge around important research.
                        In this way, the circle was closed, allowing data to be shared between systems with requiring any
                        changes on the part of manifest publishers.
                    </p>
                    <h3>Primary Purpose</h3>
                    <p>
                        As a service of
                        <a class='tooltipped' data-tooltip='Walter J. Ong, S.J. Center for Digital Humanities'
                            href='https://github.com/CenterForDigitalHumanities'>OngCDH</a>, the
                        <strong>Rerum Inbox</strong> is committed to providing a free and public location for important announcements
                        about scholarly resources. This offers a service to individuals and institutions without the financial
                        or technical means to host their own inbox and creates a path for interaction with the vast holdings
                        on the Internet that are otherwise inaccessible. By generating new inboxes dynamically,
                        <strong>Rerum Inbox</strong> immediately and universally opens the resources used by the scholarly community
                        to the contributions of the scholars it comprises.
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header blue-grey-text">
                    <i class="material-icons">directions</i>Plan of Action</div>
                <div class="collapsible-body">

                    <p>
                        There are a few very near goals for
                        <strong>Rerum Inbox</strong> that can be offered, but this path may change if the community has other needs.
                    </p>

                    <h4>API</h4>
                    <ul>
                        <li>Implement PUT for updates to messages;</li>
                        <li>Consider DELETE and PATCH cases;</li>
                        <li>Consider non-JSON-LD response types; and</li>
                        <li>Consider non-HTTP requests.</li>
                    </ul>

                    <h4>Documentation</h4>
                    <ul>
                        <li>Publish generic API for all IIIF inboxes;</li>
                        <li>Maintain Github issues for important activities and bugs;</li>
                        <li>Release Rerum implementation with documentation for reuse; and</li>
                        <li>Standardize style and format of existing copy.</li>
                    </ul>

                    <h4>Community and Software</h4>
                    <ul>
                        <li>HTTPS everywhere;</li>
                        <li>Publish an opt-in list of implementers with links;</li>
                        <li>Index available annoucements and offer some statistics and counts on the site;</li>
                        <li>Separate a space for interacting with messages;</li>
                        <li>Provide a form for posting new annoucements; and</li>
                        <li>Request structured input about possible extensions or new use cases for LDN Inboxes in IIIF.</li>
                    </ul>
                    <a href="https://github.com/CenterForDigitalHumanities/inbox/issues" class="right">Issues
                        <img src="images/GitHub-Mark-Light-32px.png" alt="github mark" style="height:1em;">
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="v-spacer"></div>
</div>