<div class="section">
    <div class="container">
        <p>
            Select a section below to view the details.
        </p>
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header blue-grey-text"><i class="material-icons">settings</i>Sample Specification</div>
                <div class="collapsible-body"><span>The document below shows inbox.rerum.io as the exemplar LDN Inbox, but the specification
                        is consistent for any inbox service published with a manifest.</span>
                    <iframe style="width:100%;height:600px;"
                            src="https://docs.google.com/document/d/e/2PACX-1vRu0VR10d_WB1wkTTnthAYmIi237hLAVsR12yZSaJUQPFfwsZosqXfnvgrutQc7fz5xE6YT54hPRctP/pub?embedded=true"></iframe>
                    <p>
                        For now, please accept this embedded doc. This spec will be duplicated in the github repo so that issues and pull requests may be filed against it.
                    </p>

                </div>
            </li>
            <li>
                <div class="collapsible-header blue-grey-text"><i class="material-icons">place</i>History and Current State</div>
                <div class="collapsible-body">
                    <h3>The Founders</h3>
                    <p>
                        The <strong>Rerum Inbox</strong> is based on a presentation given at the
                    <a href='http://iiif.io/event/2017/vatican/'>Vatican 2017 IIIF Conference</a>
                    by <a href="http://jeffreycwitt.com/">Jeff Witt</a> and
                    <a href="https://twitter.com/chipgoines">Chip Goines</a>. Further cooperation
                    with <a href='https://github.com/regisrob'>Régis Robineau</a> of
                    <a href='http://www.biblissima-condorcet.fr/'>Biblissima</a> added another
                    implementer the list. Together with <a href='https://github.com/cubap'>Patrick Cuba</a>
                    (Lead Developer, <a href='https://github.com/CenterForDigitalHumanities'>Walter
                        J. Ong, <small>S.J.</small> Center for Digital Humanities</a>), the plan
                    was made to offer an exemplar for a general use inbox that did not
                    require the hosting institutions to maintain their own. <a href='http://rerum.io'>RERUM</a>
                    offered a home for this that extended the mission of creating and sharing
                    open and public knowledge around important research.
                    </p>
                    <h3>Primary Purpose</h3>
                    <p>
                        As a service of <a class='tooltipped' data-tooltip='Walter J. Ong, S.J. Center for Digital Humanities' href='https://github.com/CenterForDigitalHumanities'>OngCDH</a>,
                        the <strong>Rerum Inbox</strong> is committed to providing a free and
                        public location for important announcements about scholarly resources.
                        This offers a service to individuals and institutions without the
                        financial or technical means to host their own inbox and creates a
                        path for interaction with the vast holdings on the Internet that are
                        otherwise inaccessible. By generating new inboxes dynamically,
                        <strong>Rerum Inbox</strong> immediately and universally opens the
                        resources used by the scholarly community to the contributions of the
                        scholars it comprises.
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header blue-grey-text"><i class="material-icons">directions</i>Roadmap</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
        </ul>
        <p>

        </p>

    </div>
</div>